.card {
    /*height: 450px;*/
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    margin: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: relative;
}
.card:hover {
    box-shadow: 0 0 14px rgba(44,44,44,.7);
}

.card__image {
    margin: 10px auto;
}

.card__picture {
    width: 170px;
    height: 230px;
}

.card__labels {
    color: #fff;
    top: 20px;
    left: 0;
    position: absolute;
}

.card__label {
    margin: 5px 0;
    padding: 2px 4px;
}

.card__label--hot {
    background-color: forestgreen;
}

.card__label--new {
    background-color: tomato;
}

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 20px;
    height: 100%;
}

.card__title {
    padding-top: 10px;
}

.card__description {
    padding: 20px 0;
    word-wrap: break-word;
    flex-grow: 4;
    margin-bottom: 10px;
}

.card__price {
    color: #e3bf07;
    font-weight: bold;
    padding: 20px 0;
    display: flex;
    justify-content: end;
    border-top: 2px solid #cdc8c8;
}

.card__oldPrice {
    font-weight: lighter;
    font-size: small;
    padding: 2px 5px 0;
}

.card__delete {
    position: absolute;
    right: -10px;
    bottom: -15px;
}

