@import "card.css";
@import "modal.css";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;

}

.container {
  display: flex;
  background-color: #9b9b9b;
}

.itemsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  margin: 30px auto;
  width: 80%;
}

.overflow-hidden {
  overflow: hidden;
}

.addCardBtn {
  all: unset;
  position: fixed;
  right: 5%;
  bottom: 5%;
  background-color: tomato;
  color: #fff;
  border: none;
  font-size: xx-large;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  transition: all .2s ease-in-out;
}

.addCardBtn:hover {
  transform: scale(1.1);
}
.addCardBtn:after {
  content: '+';
  color: #fff;
}
